<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom css  -->
    <link rel="stylesheet" href="/style/style.css">
    <!-- custom js -->
    <script defer src="js/fileUpload.js"></script>
    <title><%= title %> </title>
</head>

<body>
    <%- body %>
</body>

</html>