:root {
  --font-family: "Roboto", sans-serif;
  --background-color: white;
  --background-color2: #f9f9ff;
  --main-color: #2f2e41;
  --accent-color: #6c63ff;
  --shadow-color: #f3f2ff; //list items shadow color
  --button-hover-color: #534aff;
  --button-hover-shadow: #7972f8;
  --input-box-shadow: #c3c3ff;
  --success-color: #005f26;
  --success-container-color: #ccf1db;
  --warning-color: #855800;
  --warning-container-color: #ffeecc;
  --alert-color: #81192c;
  --alert-container-color: #fed6dd;
}
