<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Create</title>
</head>

<div class="sm" style="margin: 50px auto; max-width: 700px; ">
    <div class="card">
        <article class="card-body">
            <% if(locals.messages.msg) {%>
            <div class="alert alert-danger" role="alert">
                <%= locals.messages.msg %>
            </div>
            <% } %>
            <% if (locals.messages.success) { %>
            <div class="alert alert-success" role="alert">
                <%= locals.messages.success %>
            </div>
            <% } %>
            <form action="/create" method="POST">
                <h4 class="card-title mb-4 mt-1">Add Student</h4>
                <div class="form-group">
                    <label> Name</label>
                    <input name="name" class="form-control" placeholder="Full Name" type="name" required>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input name="email" class="form-control" placeholder="Email" type="email" required>
                </div>
                <div class="form-group">
                    <label>Phone No.</label>
                    <input name="phone" class="form-control" placeholder="Phone No" type="phone" required>
                </div>
                <div class="form-group">
                    <label>Degree</label>
                    <input name="degree" class="form-control" placeholder="Degree" type="degree" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> ADD </button>
                </div>
            </form>
        </article>
    </div>
</div>

<body>

</body>

</html>