<%- include('partials/navbar') %>
<!-- content -->
<div class="container center">
    <div class="main">
        <img src="/images/banner.svg" class="main-left" alt="">
        <div class="main-right">
            <h4>Easy way to manage Students</h4>
            <p class="body1">
                S-Manager is a opensource project that helps you to manage student and teachers
                in efficient way. sign up to visit all student. Made with Node.Js HTML, CSS, JS, FilePond.
            </p>
            <div class="call-to-action"> <a href="/signup" class="anchor-button">Sign Up</a> <a href="/student"
                    class="anchor-button" style="margin-left: .5rem;">Students</a>
            </div>
        </div>
    </div>
</div>
<div class="container center" style="margin-bottom: 1rem;">
    <div class="main" style="margin: 0;">
        <div class="b1">
            <p class="body1">You have to create an account to use S-Manager</p>
        </div>
    </div>
</div>
<div style="width: 100%; height: 200px;"></div>
<!-- content -->
<!-- footer -->
<footer>
    <div class="container footer">
        <p>Made with love & coffee in kolkata.</p>
        <p>Copyright © S-Manager 2020</p>
    </div>
</footer>
<!-- footer -->