<%- include('../partials/navbar.ejs') %>
<div class="container">
    <div class="box headline-border">
        <h6 class="box-heading bottom-border">Read The Document</h6>
        <p class="body1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos aut blanditiis
            provident est soluta dolore enim porro repudiandae sequi?</p>
    </div>
    <div class="box">
        <!-- Form -->
        <form action="">
            <!-- Form headlines -->
            <h6 class="form-branding">Add new student</h6>

            <!-- FilePond file input -->
            <div class="form-file-input">
                <label>Upload Photo</label>
                <input type="file">
            </div>

            <!-- Form two input groups -->
            <div class="form-group">
                <!-- First name -->
                <div class="form-input-group">
                    <label>First name</label>
                    <input required class="form-input" type="text" id="f-name" name="firstName"
                        placeholder="First Name">
                </div>
                <!-- Last name -->
                <div class="form-input-group">
                    <label>Last name</label>
                    <input required class="form-input" type="text" id="l-name" name="lastName" placeholder="Last Name">
                </div>
            </div>
            <!-- College name -->
            <div class="form-input-group">
                <label>College/Institute</label>
                <input required class="form-input" type="text" id="institute" name="institute"
                    placeholder="College/Institute">
            </div>
            <!-- Form two input group -->
            <div class="form-group">
                <!-- Course name -->
                <div class="form-input-group">
                    <label>Course</label>
                    <input required class="form-input" type="text" id="course" name="course" placeholder="Course">
                </div>
                <!-- year -->
                <div class="form-input-group">
                    <label>Semester/Year</label>
                    <input required class="form-input" type="text" id="sem" name="sem" placeholder="Semester/Year">
                </div>
            </div>
            <!-- form single email input -->
            <div class="form-input-group">
                <label>Email Address</label>
                <input required class="form-input" type="email" id="email" name="email" placeholder="Email">
            </div>
            <!-- Phone Number -->
            <div class="form-input-group">
                <label>Phone</label>
                <input required type="phone" class="form-input" id="number" name="number" placeholder="Phone Number">
            </div>
            <!-- Date of birth -->
            <div class="form-input-group">
                <label>Date of birth</label>
                <input required type="date" class="form-input" id="dob" name="dob" placeholder="Date of biter">
            </div>
            <!-- resindiantal address -->
            <div class="form-input-group">
                <label>Address</label>
                <input required type="text" class="form-input" id="number" name="number" placeholder="Address">
            </div>
            <!-- form input button -->
            <input class="form-button" type="submit" value="Add">
            <!-- form text group -->
            <div class="form-text-group">
                <p>All students </p><a href="/student">Go To</a>
            </div>
        </form>
        <!-- Form -->
    </div>
</div>

<!-- FilePond Script -->
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<!-- file preview -->
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<!-- file transform -->
<script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
<!-- file resized -->
<script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
<!-- file metadata -->
<script src="https://unpkg.com/filepond-plugin-file-metadata/dist/filepond-plugin-file-metadata.js"></script>
<!-- File size validator -->
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<!-- file type validation -->
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<!-- file encoded -->
<script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>

<!-- turn all file input elements into fileponds elements-->
<script defer src="../js/fileUpload.js"></script>