<%- include('../partials/navbar.ejs') %>
<div class="box" style="max-width: 650px;">
    <div class="content">
        <img class="card-profile-image" src="/images/pic.png" alt="">
        <div class="profile-right">
            <h6 class="profile-head">Soumen Khara</h6>
            <div class="paragraphs">
                <table class="student-table">
                    <tr>
                        <th>Course:</th>
                        <td>B.Sc-CMSA(Hons)</td>
                    </tr>
                    <tr>
                        <th>College:</th>
                        <td>Vivekananda College</td>
                    </tr>
                    <tr>
                        <th>Age:</th>
                        <td>21</td>
                    </tr>
                </table>
                <table class="student-table">
                    <tr>
                        <th>Phone:</th>
                        <td>89101031xx</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>soumen2015.s.k@gmail.com</td>
                    </tr>
                    <tr>
                        <th valign=top>Address:</th>
                        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="button-container">
        <a href="#" class="anchor-button">Back</a>
        <a href="#" class="anchor-button">Edit</a>
    </div>
</div>